# --- DEPENDENCIES ---
node_modules/
.pnp
.pnp.js
pnpm-debug.log*

# --- TESTING ---
coverage/
*.lcov

# --- TYPESCRIPT / BUILD ---
dist/
lib/
*.tsbuildinfo

# --- ENVIRONMENT VARIABLES ---
# Bloqueamos todos los archivos .env por seguridad
.env
.env.development
.env.local
.env.production
.env.test
# Permitimos únicamente la plantilla de ejemplo
!.env.example

# --- PRISMA ---
/prisma/generated/

# --- LOGS ---
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- OS / IDE ---
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- DOCKER ---
.docker/
# Ignoramos los datos locales de la DB si usas volúmenes locales
# pgdata/